:root {
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
}

body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.canvas {
    --character-size: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    outline: 1px solid #fff;
    font-family: monospace;
    font-size: var(--character-size);
    text-align: center;
    letter-spacing: var(--character-size);
    line-height: 150%;
}

.debug {
    padding: 5px;
    outline: 1px dashed #fff;
    font-family: monospace;
    font-size: 10px;
}
